html {
    
    background-color: blue;
    border-style: groove;
    text-emphasis-style: triangle;
        
    
}
    
body {
    
    background-color:blanchedalmond ;
    text-decoration: inherit;
}




